.footer {
    padding-top: 66px;
    padding-bottom: 70px;
    background-color: #000;
  
    @media (max-width: 940px) {
      padding-top: 56px;
      padding-bottom: 56px;
    }
  
    @media (max-width: 371px) {
      padding-top: 38px;
      padding-bottom: 48px;
    }
  
    &__wrapper {
      margin: 0 auto;
      text-align: center;
      max-width: 684px;
      padding: 0 25px;
    }
  
    &__title {
      @include sectionTitle;
      color: #fefefe;
      margin-bottom: 22px;
    }
  
    &__desc {
      line-height: 28px;
      color: #b9b9b9;
      margin-bottom: 38px;
  
      @media (max-width: 647px) {
        span {
          display: none;
        }
      }
    }
  
    &__contacts {
      display: flex;
      justify-content: center;
      margin-top: 34px;
      color: #b9b9b9;
      line-height: 26px;
  
      @media (max-width: 647px) {
        display: block;
      }
      a {
        color: #b9b9b9;
      }
      span {
        padding: 0 12px;
      }
    }
  }
  