.header__menu {
  padding: 30px 0 34px 0;
  display: flex;
  justify-content: center;

  @media (max-width: 940px) {
    padding: 22px 0 28px;
  }

  @media (max-width: 767px) {
    padding: 22px 0;
    height: 36px;
    z-index: 3;
  }

  &.active {
    .menu__list {
      display: block;
    }
  }
}

.menu__list {
  display: flex;
  justify-content: space-between;

  @media (max-width: 767px) {
    display: none;
    padding: 0;
    width: 182px;
    top: 58px;
    right: 25px;
    position: absolute;
    background-color: #f5f5f5;
  }

  &__item {
    padding: 0 34px;

    @media (max-width: 940px) {
      padding: 0 17px;
    }

    @media (max-width: 767px) {
      padding: 0;

      &:hover {
        background-color: #e5e5e5;
      }
    }
    .menu__link {
      text-transform: uppercase;
      letter-spacing: 1.1px;
      font-weight: 400;
      font-size: 11px;

      &.active {
        color: #57a4a4;
      }

      @media (max-width: 767px) {
        display: block;
        padding: 4px 12px;
        line-height: 22px;
      }
    }
  }
}
.header__burger {
  display: none;
  cursor: pointer;

  @media (max-width: 767px) {
    display: block;
    top: 22px;
    right: 25px;
    position: absolute;
    width: 44px;
    height: 36px;
    background-color: #000000;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: #ffffff;
      width: 16px;
      height: 2px;
      left: 14px;
      transition: all 0.3s ease 0s;
    }

    &::before {
      top: 12px;
    }

    &::after {
      top: 20px;
    }

    span {
      position: absolute;
      left: 14px;
      width: 16px;
      height: 2px;
      top: 16px;
      background-color: #ffffff;
      transition: all 0.3s ease 0s;
    }
  }
  &.active {
    &::before {
      transform: rotate(45deg);
      top: 16px;
    }
    &::after {
      transform: rotate(-45deg);
      top: 16px;
    }
    span {
      transform: scale(0);
    }
  }
}
