.posts {
    margin-top: 70px;
    margin-bottom: 70px;
  
    &__title {
      @include sectionTitle;
    }
  
    &__cards-wrapper {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-top: 24px;
    }
  
    &__item {
      display: flex;
      margin-bottom: 32px;
  
      @media (max-width: 607px) {
        flex-direction: column;
        margin-bottom: 28px;
        gap: 10px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
  
      &__left {
        margin-right: 20px;
        // img {
        //   width: 100%;  // можно задать для красоты
        // }
      }
  
      &__right {
        display: flex;
        flex-direction: column;
      }
  
      &__title {
        font-weight: 700;
        line-height: 30px;
        color: #4e4e4e;
  
        @media (max-width: 371px) {
          font-size: 14px;
        }
      }
      &__comments {
        font-size: 12px;
        line-height: 20px;
        color: #7c7c7c;
  
        @media (max-width: 371px) {
          font-size: 11px;
        }
  
        & a {
          color: #7c7c7c;
        }
      }
  
      &__desc {
        max-width: 404px;
        font-size: 14px;
        line-height: 26px;
        color: #5c5c5c;
        margin-top: 12px;
  
        @media (max-width: 607px) {
          display: none;
        }
      }
    }
  }