.shots {
    padding-top: 46px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.03);
  
    @media (max-width: 767px) {
      background: none;
    }
  
    @media (max-width: 371px) {
      padding-bottom: 42px;
      padding-top: 38px;
    }
  
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
  
      &__title {
        @include sectionTitle;
      }
  
      &__link {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        color: #4e4e4e;
  
        @media (max-width: 767px) {
          display: none;
        }
      }
    }
  
    &__cards-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    &__card {
      width: 100%;
      margin: 0 5px;
  
      img {
        width: 100%;
      }
  
      @media (max-width: 1199px) {
        &:last-child {
          display: none;
        }
      }
  
      @media (max-width: 767px) {
        &:not(:first-child) {
          display: none;
        }
      }
    }
  }