@import './reset';

body {
    background-color: rgba(0, 0, 0, 0.0001);
    min-width: 320px;
    position: relative;
    font-family: $fontFamily;
  }
  
  .container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
  
    @media (max-width: 940px) {
      max-width: 768px;
    }
  
    @media (max-width: 767px) {
      padding: 0 25px;
    }
  }