@mixin sectionTitle{
    font-weight: 700;
    font-family: $fontFamily;
    text-transform: uppercase;
    color: #4e4e4e;
    line-height: 22px;
  
    @media (max-width: 371px) {
      font-size: 14px;
    }

}
